### Pandas Data Types
Accompanying the PB Python article [here](http://pbpython.com/pandas_dtypes.html)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/jthompson/dev/airflow_home/data/oura_2019_trends.csv")

In [3]:
df

           date  average_rhr  sleep_score  activity_score  readiness_score
0    2018-12-17          NaN          NaN            93.0              NaN
1    2018-12-18       59.750         84.0            99.0             93.0
2    2018-12-19       57.375         75.0            98.0             68.0
3    2018-12-20       52.625         82.0            98.0             87.0
4    2018-12-21       57.375         80.0            96.0             82.0
..          ...          ...          ...             ...              ...
295  2019-12-28       76.240         53.0            90.0             36.0
296  2019-12-29       64.040         80.0            91.0             80.0
297  2019-12-30       56.920         73.0            90.0             81.0
298  2019-12-31          NaN          NaN            78.0             87.0
299  2020-01-01       73.450         61.0            75.0             58.0

[300 rows x 5 columns]

Use df.info and df.dtypes to look at the types that pandas automatically infers based on the data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 5 columns):
date               300 non-null object
average_rhr        241 non-null float64
sleep_score        241 non-null float64
activity_score     296 non-null float64
readiness_score    267 non-null float64
dtypes: float64(4), object(1)
memory usage: 11.8+ KB

In [5]:
df.dtypes

date                object
average_rhr        float64
sleep_score        float64
activity_score     float64
readiness_score    float64
dtype: object

Since the 2016 and 2017 columns were read in as objects, trying to add the values will result in string concatenation not numerical addition

In [6]:
df['sleep_score'] + df['activity_score']

0        NaN
1      183.0
2      173.0
3      180.0
4      176.0
       ...
295    143.0
296    171.0
297    163.0
298      NaN
299    136.0
Length: 300, dtype: float64

The simplest way to to convert to a type is using astype.

We can apply it to the customer number first.

In [7]:
df['sleep_score'].astype('int')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
df

The code above does not alter the original dataframe

In [ ]:
df.dtypes

Assign the new integer customer number back to the original frame and check the type

In [ ]:
df["Customer Number"] = df['Customer Number'].astype('int')
df.dtypes

In [ ]:
df

The data all looks good for the Customer Number.

If we try to convert the Jan Units column, we will get an error.

In [ ]:
df['Jan Units'].astype('int')

In a similar manner we get an error if we try to convert the sales column

In [ ]:
df['2016'].astype('float')

We can try to use astype with a bool type but that does not give expected results

In [ ]:
df['Active'].astype('bool')

In [ ]:
# astype can take a dictionary of column names and data types
df.astype({'Customer Number': 'int', 'Customer Name': 'str'}).dtypes

In order to convert the currency and percentages, we need to use custom functions

In [ ]:
def convert_currency(val):
    """
    125000.00
    Convert the string number value to a float
     - Remove $
     - Remove commas
     - Convert to float type
    """
    new_val = val.replace(',','').replace('$', '')
    return float(new_val)

In [ ]:
def convert_currency(val):
    """
    125000.00
    Convert the string number value to a float
     - Remove $
     - Remove commas
     - Convert to float type
    """
    new_val = val.replace(',','').replace('$', '')
    return float(new_val)

Use apply to convert the 2016 and 2017 columns to floating point numbers

In [ ]:
df['2016'].apply(convert_currency)

In [ ]:
df['2017'].apply(convert_currency)

In [ ]:
df

In [ ]:
df['2016'].apply(convert_currency) + df['2017'].apply(convert_currency)

We could use a lambda function as well but it may be more difficult for new users to understand

In [ ]:
df['2016'].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')

In [ ]:
# Assign the converted values back to the columns
df['2016'] = df['2016'].apply(convert_currency)
df['2017'] = df['2017'].apply(convert_currency)

In [ ]:
df['2016'] + df['2017']

In [ ]:
df

Use a lambda function to convert the percentage strings to numbers

In [ ]:
df['Percent Growth'] = df['Percent Growth'].apply(lambda x: x.replace('%', '')).astype('float') / 100

In [ ]:
df['Percent Growth'] = df['Percent Growth'].apply(convert_percent)

In [ ]:
df.dtypes

In [ ]:
# Let's look at the data so far
df

pd.to_numeric is another option for handling column conversions when invalid values are included

In [ ]:
pd.to_numeric(df['Jan Units'], errors='coerce')

In [ ]:
# Fill in the NaN with 0
pd.to_numeric(df['Jan Units'], errors='coerce').fillna(0)

Make sure to populate the original column of data

In [ ]:
df["Jan Units"] = pd.to_numeric(df['Jan Units'], errors='coerce').fillna(0)

pd.to_datetime is very useful for working with date conversions

In [ ]:
df[ ['Month', 'Day', 'Year'] ]

In [ ]:
pd.to_datetime(df[['Month', 'Day', 'Year']])

In [ ]:
df["Start_Date"] = pd.to_datetime(df[['Month', 'Day', 'Year']])

In [ ]:
# Check out the dataframe
df

Use np.where to convert the active column to a boolean

In [ ]:
df["Active"] = np.where(df["Active"] == "Y", True, False)

In [ ]:
df

In [ ]:
df.dtypes

Many of the examples shown above can be used when reading in data using dtypes or converters arguments

In [ ]:
df_2 = pd.read_csv("https://github.com/chris1610/pbpython/blob/master/data/sales_data_types.csv?raw=True", 
                   dtype={'Customer Number':'int'},
                   converters={'2016':convert_currency,
                               '2017': convert_currency,
                            
                               'Jan Units': lambda x: pd.to_numeric(x, errors='coerce'),
                               'Active': lambda x: np.where(x == "Y", True, False)
                              })

In [ ]:
df_2.dtypes

In [ ]:
df_2

In [ ]:
# This can not be applied at the time the data is read in
df_2["Start_Date"] = pd.to_datetime(df_2[['Month', 'Day', 'Year']])

In [ ]:
df_2