In [ ]:
import pandas as pd
import os
import json
from pandas.io.json import json_normalize

## Read csv

In [67]:
import csv 
 
with open('/Users/jthompson/dev/airflow_home/temp/temp_data/stmt.csv','r') as csv_file: #Opens the file in read mode
    csv_reader = csv.reader(csv_file) # Making use of reader method for reading the file
 
 
    for line in csv_reader: #Iterate through the loop to read line by line
        print(line)

['Description', '', 'Summary Amt.']
['Beginning balance as of 09/01/2019', '', '3124.84']
['Total credits', '', '25023.25']
['Total debits', '', '-27842.50']
['Ending balance as of 04/04/2020', '', '305.59']
[]
['Date', 'Description', 'Amount', 'Running Bal.']
['09/01/2019', 'Beginning balance as of 09/01/2019', '', '3124.84']
['09/03/2019', 'CAVANAUGHS RIVER DECK 09/01 PURCHASE PHILADELPHIA PA', '-22.00', '3102.84']
['09/03/2019', 'CAVANAUGHS RIVER DECK 09/01 PURCHASE PHILADELPHIA PA', '-9.90', '3092.94']
['09/03/2019', 'CASH APP*JAMES*ADD 09/02 PMNT SENT 8774174551 CA', '-5.00', '3087.94']
['09/03/2019', 'DE-LOT-SH 501 09/03 PURCHASE WILMINGTON DE', '-8.00', '3079.94']
['09/03/2019', 'GREAT LAKES DES:STUDENT LN ID:0000 INDN:JAMES THOMPSON CO ID:XXXXX00901 PPD', '-33.00', '3046.94']
['09/03/2019', 'GREAT LAKES DES:STUDENT LN ID:0000 INDN:JAMES THOMPSON CO ID:XXXXX00901 PPD', '-33.00', '3013.94']
['09/03/2019', 'GREAT LAKES DES:STUDENT LN ID:0000 INDN:JAMES THOMPSON CO ID:XXXXX00901 PPD', '-33.00', '2980.94']
['09/03/2019', 'PAYPAL DES:INST XFER ID:LYFT INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-4.50', '2976.44']
['09/03/2019', 'PAYPAL DES:INST XFER ID:LYFT INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-1.00', '2975.44']
['09/04/2019', 'PAYPAL DES:INST XFER ID:LYFT INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-17.11', '2958.33']
['09/05/2019', 'NAVIENT DES:PMT SPE ID:XXXXX99112 INDN:148657797C CO ID:XXXXX39731 WEB', '-266.00', '2692.33']
['09/05/2019', 'NAVI ED SERV WEB DES:STUDNTLOAN ID:6NGTRI38QG1 INDN:JAMES LTHOMPSON CO ID:XXXXX01102 WEB', '-105.00', '2587.33']
['09/06/2019', 'CASH APP*JAMES*ADD 09/06 PMNT SENT 8774174551 CA', '-25.00', '2562.33']
['09/09/2019', 'DLHcad, LLC. DES:PayrollDD ID:17344 INDN:James Thompson CO ID:XXXXX84145 PPD', '1093.20', '3655.53']
['09/09/2019', 'DISCOVER DES:E-PAYMENT ID:3597 INDN:THOMPSON JAMES CO ID:XXXXX20270 WEB', '-600.00', '3055.53']
['09/09/2019', 'PAYPAL DES:INST XFER ID:JSTUR004 INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-150.00', '2905.53']
['09/09/2019', 'PAYPAL DES:INST XFER ID:ITUNESAPPST INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-7.99', '2897.54']
['09/11/2019', 'DISCOVER DES:E-PAYMENT ID:3597 INDN:THOMPSON JAMES CO ID:XXXXX20270 WEB', '-400.00', '2497.54']
['09/11/2019', 'PAYPAL DES:INST XFER ID:ITUNESAPPST INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-19.99', '2477.55']
['09/11/2019', 'PAYPAL DES:INST XFER ID:ITUNESAPPST INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-2.99', '2474.56']
['09/13/2019', 'DLHcad, LLC. DES:PayrollDD ID:17344 INDN:James Thompson CO ID:XXXXX84145 PPD', '1093.20', '3567.76']
['09/13/2019', 'BKOFAMERICA ATM 09/13 #000007712 WITHDRWL 400 DELAWARE AVE WILMINGTON DE PA', '-40.00', '3527.76']
['09/13/2019', 'DE-LOT-SH 501 09/13 PURCHASE WILMINGTON DE', '-8.00', '3519.76']
['09/16/2019', 'CASH APP*JAMES*ADD 09/13 PMNT SENT 8774174551 CA', '-20.00', '3499.76']
['09/16/2019', 'P313038 09/14 #000133491 WITHDRWL TRILOGY NIGH-3130 PHILADELPHIA PA', '-64.00', '3435.76']
['09/16/2019', 'CASH APP*NAIYA MARS 09/14 PMNT SENT 8774174551 CA', '-10.00', '3425.76']
['09/16/2019', 'BKOFAMERICA ATM 09/15 #000001344 WITHDRWL 29 BROADWAY NEW YORK NY', '-20.00', '3405.76']
['09/16/2019', 'P313038 09/14 #000133491 WITHDRWL TRILOGY NIGH-3130 PHILADELPHIA PA FEE', '-2.50', '3403.26']
['09/17/2019', 'PLANET FIT DES:CLUB FEES ID:XXXXX00697388 INDN:JAMES THOMPSON CO ID:XXXXX02737 PPD PMT INFO:302-691-7844', '-10.00', '3393.26']
['09/18/2019', 'Siren Staffing L DES:Bill.com ID:016UPARMW167RCL INDN:James Thompson CO ID:XXXXX95317 CCD PMT INFO:Siren Staffing LLC Bill.com 016UPARMW167 RCL Inv #Brisk Beard Oil', '161.00', '3554.26']
['09/18/2019', 'DE REVENUE TAX INTERNET 09/16 PURCHASE 302-577-8200 DE', '-1033.95', '2520.31']
['09/18/2019', 'CASH APP*JAMES*ADD 09/17 PMNT SENT 8774174551 CA', '-10.00', '2510.31']
['09/18/2019', 'COMCAST 09/17 PURCHASE 800-COMCAST NJ', '-56.99', '2453.32']
['09/18/2019', 'DE-LOT-SH 501 09/18 PURCHASE WILMINGTON DE', '-12.00', '2441.32']
['09/18/2019', 'DISCOVER BANK DES:ACCT FUND ID:XXXXX15297 INDN:JAMES THOMPSON CO ID:XXXXX27921 WEB', '-200.00', '2241.32']
['09/18/2019', 'PAYPAL DES:INST XFER ID:WAYFAIR INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-193.99', '2047.33']
['09/19/2019', 'CASH APP*ALLANDSON 09/18 PMNT SENT 8774174551 CA', '-89.10', '1958.23']
['09/19/2019', 'PAYPAL DES:INST XFER ID:ITUNESAPPST INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-7.99', '1950.24']
['09/20/2019', 'DEXSTA DES:ACHORIG ID:XXXXX0000072518 INDN:THOMPSON,JAMES L CO ID:XXXXX76994 PPD', '-200.00', '1750.24']
['09/23/2019', 'ISPA/PIMDS 09/21 #000002656 WITHDRWL PAI ISO LAS VEGAS NV', '-102.00', '1648.24']
['09/23/2019', 'PAYPAL DES:INST XFER ID:LYFT INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-13.57', '1634.67']
['09/23/2019', 'PAYPAL DES:INST XFER ID:UBER INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-12.99', '1621.68']
['09/23/2019', 'PAYPAL DES:INST XFER ID:UBER INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-10.59', '1611.09']
['09/23/2019', 'PAYPAL DES:INST XFER ID:UBER INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-9.21', '1601.88']
['09/23/2019', 'PAYPAL DES:INST XFER ID:UBER INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-8.39', '1593.49']
['09/23/2019', 'ISPA/PIMDS 09/21 #000002655 BAL INQ PAI ISO FEE', '-2.50', '1590.99']
['09/23/2019', 'ISPA/PIMDS 09/21 #000002656 WITHDRWL PAI ISO LAS VEGAS NV FEE', '-2.50', '1588.49']
['09/24/2019', 'PAYPAL DES:INST XFER ID:UBER INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-19.20', '1569.29']
['09/24/2019', 'PAYPAL DES:INST XFER ID:ITUNESAPPST INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-12.98', '1556.31']
['09/24/2019', 'PAYPAL DES:INST XFER ID:UBER INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-9.36', '1546.95']
['09/24/2019', 'PAYPAL DES:INST XFER ID:UBER INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-8.64', '1538.31']
['09/24/2019', 'PAYPAL DES:INST XFER ID:UBER INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-8.44', '1529.87']
['09/24/2019', 'PAYPAL DES:INST XFER ID:UBER INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-8.28', '1521.59']
['09/24/2019', 'PAYPAL DES:INST XFER ID:UBER INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-3.00', '1518.59']
['09/24/2019', 'PAYPAL DES:INST XFER ID:UBER INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-1.00', '1517.59']
['09/24/2019', 'PAYPAL DES:INST XFER ID:UBER INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-1.00', '1516.59']
['09/25/2019', 'PAYPAL DES:INST XFER ID:LYFT INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-15.66', '1500.93']
['09/25/2019', 'PAYPAL DES:INST XFER ID:LYFT INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-1.00', '1499.93']
['09/26/2019', 'PAYPAL DES:INST XFER ID:UBER INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-9.62', '1490.31']
['09/30/2019', 'PAYPAL DES:TRANSFER ID:XXXXX18889046 INDN:JUSTIN STURM CO ID:PAYPALSD11 PPD', '1050.01', '2540.32']
['09/30/2019', 'DISCOVER DES:E-PAYMENT ID:3597 INDN:THOMPSON JAMES CO ID:XXXXX20270 WEB', '-1000.00', '1540.32']
['09/30/2019', 'IRS DES:USATAXPYMT ID:XXXXX7302810981 INDN:JAMES L THOMPSON CO ID:XXXXX02000 PPD', '-150.00', '1390.32']
['10/01/2019', 'BKOFAMERICA ATM 10/01 #000002145 DEPOSIT 400 DELAWARE AVE WILMINGTON DE PA', '1001.00', '2391.32']
['10/01/2019', 'PAYPAL DES:TRANSFER ID:XXXXX44228959 INDN:JUSTIN STURM CO ID:PAYPALSD11 PPD', '150.00', '2541.32']
['10/01/2019', 'DISCOVER DES:E-PAYMENT ID:3597 INDN:THOMPSON JAMES CO ID:XXXXX20270 WEB', '-351.40', '2189.92']
['10/02/2019', 'LAKEVIEW LN SRV DES:MTG PYMT ID:XXXXX96875 INDN:JAMES L THOMPSON CO ID:XXXXX22890 WEB', '-726.86', '1463.06']
['10/02/2019', 'DISCOVER BANK DES:NET/MOBILE ID:XXXXX16977 INDN:JAMES THOMPSON CO ID:XXXXX20271 WEB', '-200.00', '1263.06']
['10/03/2019', 'BKOFAMERICA ATM 10/03 #000003530 WITHDRWL 400 DELAWARE AVE WILMINGTON DE PA', '-80.00', '1183.06']
['10/03/2019', 'GREAT LAKES DES:STUDENT LN ID:0000 INDN:JAMES THOMPSON CO ID:XXXXX00901 PPD', '-33.00', '1150.06']
['10/03/2019', 'GREAT LAKES DES:STUDENT LN ID:0000 INDN:JAMES THOMPSON CO ID:XXXXX00901 PPD', '-33.00', '1117.06']
['10/03/2019', 'GREAT LAKES DES:STUDENT LN ID:0000 INDN:JAMES THOMPSON CO ID:XXXXX00901 PPD', '-33.00', '1084.06']
['10/04/2019', 'DLHcad, LLC. DES:PayrollDD ID:17344 INDN:James Thompson CO ID:XXXXX84145 PPD', '1093.20', '2177.26']
['10/04/2019', 'DLHcad, LLC. DES:PayrollDD ID:17344 INDN:James Thompson CO ID:XXXXX84145 PPD', '1093.20', '3270.46']
['10/04/2019', 'Square Inc DES:* Cash App ID:T200157826301 INDN:James CO ID:XXXXX29876 CCD PMT INFO:James', '1050.00', '4320.46']
['10/04/2019', 'NAVI ED SERV PP DES:STUDNTLOAN ID:0000 INDN:JAMES THOMPSON CO ID:XXXXX01101 PPD', '-104.67', '4215.79']
['10/04/2019', 'PAYPAL DES:INST XFER ID:ITUNESAPPST INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-32.97', '4182.82']
['10/07/2019', 'PPA ON STREET METERS 10/05 PURCHASE PHILADELPHIA PA', '-6.00', '4176.82']
['10/07/2019', 'TST* MAKERS ALLEY 10/05 PURCHASE WILMINGTON DE', '-20.00', '4156.82']
['10/07/2019', 'PAYPAL DES:INST XFER ID:JSTUR004 INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-1000.00', '3156.82']
['10/07/2019', 'NAVIENT-FDR DES:AUTOPAY ID:BR James L Thom INDN:5029350474172413 CO ID:XXXXX43973 PPD', '-265.13', '2891.69']
['10/07/2019', 'PAYPAL DES:INST XFER ID:ITUNESAPPST INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-52.99', '2838.70']
['10/07/2019', 'PAYPAL DES:INST XFER ID:OMAZE INC INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-10.00', '2828.70']
['10/07/2019', 'PAYPAL DES:INST XFER ID:PARKMOBILE INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-2.65', '2826.05']
['10/07/2019', 'PAYPAL DES:INST XFER ID:PARKMOBILE INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-1.15', '2824.90']
['10/07/2019', 'PAYPAL DES:INST XFER ID:PARKMOBILE INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-0.90', '2824.00']
['10/07/2019', 'PAYPAL DES:INST XFER ID:PARKMOBILE INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-0.90', '2823.10']
['10/07/2019', 'PAYPAL DES:INST XFER ID:PARKMOBILE INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-0.65', '2822.45']
['10/07/2019', 'PAYPAL DES:INST XFER ID:PARKMOBILE INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-0.65', '2821.80']
['10/10/2019', 'PAYPAL DES:INST XFER ID:GODADDY.COM INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-36.34', '2785.46']
['10/11/2019', 'LA TAQUERIA - RIVERFRO 10/09 PURCHASE WILMINGTON DE', '-5.00', '2780.46']
['10/11/2019', 'EB 29ROOMS NEW YORK-D 10/10 PURCHASE 801-413-7200 CA', '-58.08', '2722.38']
['10/11/2019', 'PAYPAL DES:INST XFER ID:ITUNESAPPST INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-4.99', '2717.39']
['10/11/2019', 'PAYPAL DES:INST XFER ID:ITUNESAPPST INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-2.99', '2714.40']
['10/15/2019', 'DLHcad, LLC. DES:PayrollDD ID:17344 INDN:James Thompson CO ID:XXXXX84145 PPD', '1093.20', '3807.60']
['10/15/2019', 'HIP CITY VEG BROAD ST 10/10 PURCHASE PHILADELPHIA PA', '-6.43', '3801.17']
['10/15/2019', 'PPA ON STREET METERS 10/12 PURCHASE PHILADELPHIA PA', '-2.75', '3798.42']
['10/15/2019', 'PAYPAL DES:INST XFER ID:ITUNESAPPST INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-19.99', '3778.43']
['10/15/2019', 'PAYPAL DES:INST XFER ID:LYFT INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-9.03', '3769.40']
['10/15/2019', 'PAYPAL DES:INST XFER ID:LYFT INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-8.34', '3761.06']
['10/15/2019', 'PAYPAL DES:INST XFER ID:LYFT INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-6.03', '3755.03']
['10/17/2019', 'BKOFAMERICA ATM 10/17 #000005645 WITHDRWL 400 DELAWARE AVE WILMINGTON DE PA', '-40.00', '3715.03']
['10/17/2019', 'DISCOVER DES:E-PAYMENT ID:3597 INDN:THOMPSON JAMES CO ID:XXXXX20270 WEB', '-300.00', '3415.03']
['10/17/2019', 'ROBINHOOD DES:Funds ID:XXXXX0824 INDN:James Thompson CO ID:XXXXX64776 WEB', '-220.00', '3195.03']
['10/17/2019', 'PLANET FIT DES:CLUB FEES ID:XXXXX00609630 INDN:JAMES THOMPSON CO ID:XXXXX02737 PPD PMT INFO:302-691-7844', '-10.00', '3185.03']
['10/18/2019', 'DLHcad, LLC. DES:PayrollDD ID:17344 INDN:James Thompson CO ID:XXXXX84145 PPD', '1093.20', '4278.23']
['10/18/2019', 'POPULUS GROUP LL DES:PAYROLL ID:XXXXX500009725X INDN:THOMPSON, JAMES CO ID:XXXXX05792 PPD', '116.40', '4394.63']
['10/18/2019', 'POPULUS GROUP LL DES:PAYROLL ID:XXXXX500009726X INDN:THOMPSON, JAMES CO ID:XXXXX05792 PPD', '38.60', '4433.23']
['10/21/2019', 'LA TAQUERIA - RIVERFRO 10/17 PURCHASE WILMINGTON DE', '-5.00', '4428.23']
['10/21/2019', 'DEXSTA DES:ACHORIG ID:XXXXX0000072518 INDN:THOMPSON,JAMES L CO ID:XXXXX76994 PPD', '-200.00', '4228.23']
['10/22/2019', 'Siren Staffing L DES:Bill.com ID:016ECMWCS17FJU2 INDN:James Thompson CO ID:XXXXX95317 CCD PMT INFO:Siren Staffing LLC Bill.com 016ECMWCS17F JU2 Inv #Brisk Beard Oil', '100.00', '4328.23']
['10/22/2019', 'CASH APP*JAMES*ADD 10/21 PMNT SENT 8774174551 CA', '-10.00', '4318.23']
['10/23/2019', 'DISCOVER DES:E-PAYMENT ID:3597 INDN:THOMPSON JAMES CO ID:XXXXX20270 WEB', '-500.00', '3818.23']
['10/24/2019', 'CASH APP*JAMES*ADD 10/23 PMNT SENT 8774174551 CA', '-10.00', '3808.23']
['10/25/2019', 'DLHcad, LLC. DES:PayrollDD ID:17344 INDN:James Thompson CO ID:XXXXX84145 PPD', '1093.20', '4901.43']
['10/25/2019', 'POPULUS GROUP LL DES:PAYROLL ID:XXXXX100010357X INDN:THOMPSON, JAMES CO ID:XXXXX05792 PPD', '113.00', '5014.43']
['10/25/2019', 'DE-LOT-SHOP RITE #589 10/23 MOBILE PURCHASE WILMINGTON DE', '-4.00', '5010.43']
['10/28/2019', 'CASH APP*MARGARET A 10/25 PMNT SENT 8774174551 CA', '-75.00', '4935.43']
['10/28/2019', 'IRS DES:USATAXPYMT ID:XXXXX0102678122 INDN:JAMES L THOMPSON CO ID:XXXXX02000 PPD', '-150.00', '4785.43']
['10/28/2019', 'PAYPAL DES:INST XFER ID:ITUNESAPPST INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-9.99', '4775.44']
['10/28/2019', 'PAYPAL DES:INST XFER ID:UBER INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-6.26', '4769.18']
['10/28/2019', 'PAYPAL DES:INST XFER ID:UBER INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-2.91', '4766.27']
['10/29/2019', 'PAYPAL DES:INST XFER ID:GODADDY.COM INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-36.34', '4729.93']
['10/30/2019', 'BKOFAMERICA ATM 10/30 #000008062 WITHDRWL 400 DELAWARE AVE WILMINGTON DE PA', '-40.00', '4689.93']
['11/01/2019', 'POPULUS GROUP LL DES:PAYROLL ID:XXXXX100003902X INDN:THOMPSON, JAMES CO ID:XXXXX05792 PPD', '68.68', '4758.61']
['11/04/2019', 'CASH APP*VINSON MCC 11/01 PMNT SENT 8774174551 CA', '-57.26', '4701.35']
['11/04/2019', 'ROBINHOOD DES:Funds ID:XXXXX0824 INDN:James Thompson CO ID:XXXXX64776 WEB', '-900.00', '3801.35']
['11/04/2019', 'ROBINHOOD DES:Funds ID:XXXXX0824 INDN:James Thompson CO ID:XXXXX64776 WEB', '-120.00', '3681.35']
['11/04/2019', 'NAVI ED SERV PP DES:STUDNTLOAN ID:0000 INDN:JAMES THOMPSON CO ID:XXXXX01101 PPD', '-104.67', '3576.68']
['11/04/2019', 'GREAT LAKES DES:STUDENT LN ID:0000 INDN:JAMES THOMPSON CO ID:XXXXX00901 PPD', '-33.00', '3543.68']
['11/04/2019', 'GREAT LAKES DES:STUDENT LN ID:0000 INDN:JAMES THOMPSON CO ID:XXXXX00901 PPD', '-33.00', '3510.68']
['11/04/2019', 'GREAT LAKES DES:STUDENT LN ID:0000 INDN:JAMES THOMPSON CO ID:XXXXX00901 PPD', '-33.00', '3477.68']
['11/06/2019', 'SQ *JESSICA STURM 11/06 PURCHASE 877-417-4551 DE', '-150.00', '3327.68']
['11/06/2019', 'BKOFAMERICA ATM 11/06 #000009806 WITHDRWL 400 DELAWARE AVE WILMINGTON DE PA', '-40.00', '3287.68']
['11/06/2019', 'LAKEVIEW LN SRV DES:MTG PYMT ID:XXXXX96875 INDN:JAMES L THOMPSON CO ID:XXXXX22890 WEB', '-1026.86', '2260.82']
['11/06/2019', 'NAVIENT-FDR DES:AUTOPAY ID:BR James L Thom INDN:5029350474172413 CO ID:XXXXX43973 PPD', '-256.40', '2004.42']
['11/07/2019', 'WESTSIDE SUPER 11/07 PURCHASE NEW YORK NY', '-2.82', '2001.60']
['11/08/2019', 'POPULUS GROUP LL DES:PAYROLL ID:XXXXX300000993X INDN:THOMPSON, JAMES CO ID:XXXXX05792 PPD', '102.77', '2104.37']
['11/08/2019', 'PAYPAL DES:INST XFER ID:POPSOCKETS INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-25.00', '2079.37']
['11/08/2019', 'PAYPAL DES:INST XFER ID:ITUNESAPPST INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-9.60', '2069.77']
['11/12/2019', 'CROSSROADS WINE & SPIRI 11/07 MOBILE PURCHASE NEW YORK NY', '-34.83', '2034.94']
['11/12/2019', 'SQ *THE DONUT PUB 11/08 MOBILE PURCHASE New York NY', '-6.18', '2028.76']
['11/12/2019', 'MEGABUS.COM 11/08 PURCHASE PARAMUS NJ', '-19.49', '2009.27']
['11/12/2019', 'PALOTV SHOPRITE OF FOX 11/08 MOBILE PURCHASE PHILADELPHIA PA', '-6.00', '2003.27']
['11/12/2019', 'CASH APP*MARGARET A 11/09 PMNT SENT 8774174551 CA', '-900.00', '1103.27']
['11/12/2019', 'DE-LOT-SHOP RITE #589 11/09 MOBILE PURCHASE WILMINGTON DE', '-4.00', '1099.27']
['11/12/2019', 'PAYPAL DES:INST XFER ID:APPLE INC INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-624.00', '475.27']
['11/12/2019', 'PAYPAL DES:INST XFER ID:GODADDY.COM INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-36.34', '438.93']
['11/12/2019', 'PAYPAL DES:INST XFER ID:LYFT INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-14.05', '424.88']
['11/12/2019', 'PAYPAL DES:INST XFER ID:LYFT INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-10.85', '414.03']
['11/12/2019', 'PAYPAL DES:INST XFER ID:LYFT INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-10.77', '403.26']
['11/12/2019', 'PAYPAL DES:INST XFER ID:APPLE INC INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-9.00', '394.26']
['11/14/2019', 'Square Inc DES:* Cash App ID:T200169896318 INDN:James CO ID:XXXXX29876 CCD PMT INFO:James', '150.00', '544.26']
['11/14/2019', 'DELMARVA P&L RES DES:UTIL PMNT ID:8267541 INDN:JAMES THOMPSON *. CO ID:XXXXX00160 WEB', '-6.64', '537.62']
['11/15/2019', 'ROBINHOOD DES:Funds ID:XXXXX0824 INDN:James Thompson CO ID:XXXXX64776 WEB', '1000.00', '1537.62']
['11/15/2019', 'DE-LOT-SHOP RITE #589 11/13 MOBILE PURCHASE WILMINGTON DE', '-4.00', '1533.62']
['11/18/2019', 'BKOFAMERICA MOBILE 11/18 3633847401 DEPOSIT *MOBILE PA', '179.68', '1713.30']
['11/18/2019', 'DE-LOT-SHOP RITE #589 11/15 MOBILE PURCHASE WILMINGTON DE', '-8.00', '1705.30']
['11/18/2019', 'SHOPRITE CHRST 11/17 MOBILE PURCHASE WILMINGTON DE', '-21.97', '1683.33']
['11/18/2019', 'DISCOVER DES:E-PAYMENT ID:3597 INDN:THOMPSON JAMES CO ID:XXXXX20270 WEB', '-100.00', '1583.33']
['11/18/2019', 'PAYPAL DES:INST XFER ID:CHEERS INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-30.00', '1553.33']
['11/18/2019', 'PAYPAL DES:INST XFER ID:APPLE.COM BILL INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-19.99', '1533.34']
['11/18/2019', 'PLANET FIT DES:CLUB FEES ID:XXXXX01056643 INDN:JAMES THOMPSON CO ID:XXXXX02737 PPD PMT INFO:302-691-7844', '-10.00', '1523.34']
['11/20/2019', 'CVS/PHARMACY #00088 11/19 MOBILE PURCHASE WILMINGTON DE', '-1.39', '1521.95']
['11/20/2019', 'DE-LOT-SHOP RI 11/19 PURCHASE WILMINGTON DE', '-40.00', '1481.95']
['11/20/2019', 'SHOPRITE CHRST 11/20 MOBILE PURCHASE WILMINGTON DE', '-59.64', '1422.31']
['11/20/2019', 'DEXSTA DES:ACHORIG ID:XXXXX0000072518 INDN:THOMPSON,JAMES L CO ID:XXXXX76994 PPD', '-200.00', '1222.31']
['11/22/2019', 'DLHcad, LLC. DES:PayrollDD ID:17344 INDN:James Thompson CO ID:XXXXX84145 PPD', '1093.20', '2315.51']
['11/22/2019', 'POPULUS GROUP LL DES:PAYROLL ID:XXXXX300004926X INDN:THOMPSON, JAMES CO ID:XXXXX05792 PPD', '64.58', '2380.09']
['11/22/2019', 'TGI FRIDAYS #1520 11/21 MOBILE PURCHASE 302-325-6620 DE', '-12.99', '2367.10']
['11/22/2019', 'Tesla 11/22 MOBILE PURCHASE 188-85183752 CA', '-100.00', '2267.10']
['11/22/2019', 'BKOFAMERICA ATM 11/22 #000005523 WITHDRWL 400 DELAWARE AVE WILMINGTON DE PA', '-60.00', '2207.10']
['11/25/2019', 'WAWA 191 11/23 MOBILE PURCHASE PHILADELPHIA PA', '-6.13', '2200.97']
['11/25/2019', 'WINE AND SPIRI 11/23 MOBILE PURCHASE PHILADELPHIA PA', '-48.58', '2152.39']
['11/25/2019', '7-ELEVEN 11/23 MOBILE PURCHASE PHILADELPHIA PA', '-3.02', '2149.37']
['11/25/2019', 'LN FILLMORE PHILADELPH 11/23 PURCHASE PHILADELPHIA PA', '-20.00', '2129.37']
['11/25/2019', 'WPC @ FILLMORE68311133 11/23 PURCHASE PHILADELPHIA PA', '-25.00', '2104.37']
['11/25/2019', 'LUKOIL 69708 11/24 MOBILE PURCHASE PHILADELPHIA PA', '-4.36', '2100.01']
['11/25/2019', 'PAYPAL DES:INST XFER ID:LYFT INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-11.77', '2088.24']
['11/25/2019', 'PAYPAL DES:INST XFER ID:LYFT INDN:JUSTIN STURM CO ID:PAYPALSI77 WEB', '-8.47', '2079.77']
['11/27/2019', 'NAF NAF GRILL 042 11/26 PURCHASE NEWARK DE', '-11.99', '2067.78']
['11/29/2019', 'DLHcad, LLC. DES:PayrollDD ID:17344 INDN:James Thompson CO ID:XXXXX84145 PPD', '1093.20', '3160.98']

In [68]:
#Standard Data that you see on Oura Home screen from the data show in data2

data = pd.read_csv('/Users/jthompson/dev/airflow_home/data/oura_2019_trends.csv')

In [69]:
data2 = pd.read_csv('/Users/jthompson/dev/airflow_home/data/oura_2019-09-17_2020-04-01_trends.csv')

In [70]:
data3 = pd.read_csv('/Users/jthompson/dev/airflow_home/temp/temp_data/debits.csv')

In [71]:
## For previous csv data above, reading csv and then setting data to dataframe simple

In [72]:
## For serialized json data, must json.load file and then normalize by index,(ie: Sleep, Activity, Readiness)

In [ ]:
data4 = pd.read_json('/Users/jthompson/dev/airflow_home/data/sleep_data_response.json')

In [112]:
data6 = pd.read_json('/Users/jthompson/dev/airflow_home/data/activity_data.json')

In [113]:
data6 = json_normalize(data6)

                                            activity
0  {'average_met': 1.25, 'cal_active': 136, 'cal_...
1  {'average_met': 1.25, 'cal_active': 147, 'cal_...
2  {'average_met': 1.25, 'cal_active': 164, 'cal_...
3  {'average_met': 1.1875, 'cal_active': 93, 'cal...
4  {'average_met': 1.25, 'cal_active': 135, 'cal_...
5  {'average_met': 1.53125, 'cal_active': 579, 'c...
6  {'average_met': 1.28125, 'cal_active': 131, 'c...

In [74]:
import json 
import pandas as pd 
from pandas.io.json import json_normalize #package for flattening json in pandas df

#load json object
with open('/Users/jthompson/dev/airflow_home/data/sleep_data_response.json') as f:
    d = json.load(f)

#lets put the data into a pandas df
#clicking on raw_nyc_phil.json under "Input Files"
#tells us parent node is 'programs'
data5 = json_normalize(d['sleep'])
data5.head(5)

,awake,bedtime_end,bedtime_end_delta,bedtime_start,bedtime_start_delta,breath_average,deep,duration,efficiency,hr_5min,...,score_efficiency,score_latency,score_rem,score_total,summary_date,temperature_delta,temperature_deviation,temperature_trend_deviation,timezone,total
0,5640,2020-04-04T10:08:06-04:00,36486,2020-04-04T01:06:06-04:00,3966,14.75,3510,32520,83,"[0, 0, 55, 56, 55, 55, 55, 56, 56, 55, 55, 55,...",...,79,81,67,80,2020-04-03,0.18,0.18,0.09,-240,26880

In [75]:
df5 = pd.DataFrame(data5)

Display the contents of the DataFrame.

In [76]:
df5.dtypes

awake                            int64
bedtime_end                     object
bedtime_end_delta                int64
bedtime_start                   object
bedtime_start_delta              int64
breath_average                 float64
deep                             int64
duration                         int64
efficiency                       int64
hr_5min                         object
hr_average                     float64
hr_lowest                        int64
hypnogram_5min                  object
is_longest                       int64
light                            int64
midpoint_at_delta                int64
midpoint_time                    int64
onset_latency                    int64
period_id                        int64
rem                              int64
restless                         int64
rmssd                            int64
rmssd_5min                      object
score                            int64
score_alignment                  int64
score_deep                       int64
score_disturbances               int64
score_efficiency                 int64
score_latency                    int64
score_rem                        int64
score_total                      int64
summary_date                    object
temperature_delta              float64
temperature_deviation          float64
temperature_trend_deviation    float64
timezone                         int64
total                            int64
dtype: object

In [77]:
df = pd.DataFrame(data)

In [78]:
df2 = pd.DataFrame(data2)

In [79]:
df3 = pd.DataFrame(data3)

In [80]:
df4 = pd.DataFrame(data4)

In [81]:
df5['hr_5min']

0    [0, 0, 55, 56, 55, 55, 55, 56, 56, 55, 55, 55,...
Name: hr_5min, dtype: object

In [82]:
df2['Bedtime Start']

0      2019-09-16T23:57:12-04:00
1      2019-09-17T23:17:35-04:00
2      2019-09-18T23:29:00-04:00
3      2019-09-20T07:26:58-04:00
4      2019-09-21T10:11:57-04:00
                 ...
189    2020-03-27T00:35:31-04:00
190    2020-03-28T01:27:09-04:00
191    2020-03-29T01:42:29-04:00
192    2020-03-30T04:22:53-04:00
193    2020-03-31T02:14:44-04:00
Name: Bedtime Start, Length: 194, dtype: object

In [83]:
df2['date'] = pd.to_datetime(df3['Date'])

In [84]:
df2.dtypes

date                           datetime64[ns]
Sleep Score                           float64
Total Sleep Score                     float64
REM Sleep Score                       float64
Deep Sleep Score                      float64
Sleep Efficiency Score                float64
Sleep Tranquility Score               float64
Sleep Latency Score                   float64
Sleep Timing Score                    float64
Total Bedtime                         float64
Total Sleep Time                      float64
Awake Time                            float64
REM Sleep Time                        float64
Light Sleep Time                      float64
Deep Sleep Time                       float64
Restless Sleep                        float64
Sleep Efficiency                      float64
Sleep Latency                         float64
Sleep Timing                          float64
Sleep Timing.1                        float64
Bedtime Start                          object
Bedtime End                            object
Average Resting Heart Rate            float64
Lowest Resting Heart Rate             float64
Average HRV                           float64
Temperature Deviation                 float64
Respiratory Rate                      float64
Activity Score                        float64
Stay Active Score                     float64
Move Every Hour Score                 float64
Meet Daily Targets Score              float64
Training Frequency Score              float64
Training Volume Score                 float64
Recovery Time Score                   float64
Activity Burn                         float64
Total Burn                            float64
Target Calories                       float64
Steps                                 float64
Daily Movement                        float64
Inactive Time                         float64
Rest Time                             float64
Low Activity Time                     float64
Medium Activity Time                  float64
High Activity Time                    float64
Non-wear Time                         float64
Average MET                           float64
Long Periods of Inactivity            float64
Readiness Score                       float64
Previous Night Score                  float64
Sleep Balance Score                   float64
Previous Day Activity Score           float64
Activity Balance Score                float64
Temperature Score                     float64
Resting Heart Rate Score              float64
HRV Balance Score                     float64
Recovery Index Score                  float64
dtype: object

df2['

In [85]:
df3.columns

Index(['Date', 'Description', 'Amount', 'Running Bal.'], dtype='object')

In [86]:
df3.dtypes

Date             object
Description      object
Amount          float64
Running Bal.    float64
dtype: object

In [87]:
df3 = df3.drop(columns=['Running Bal.'])

In [88]:
df3.dtypes

Date            object
Description     object
Amount         float64
dtype: object

In [89]:
#df3.astype({'Description': 'str'}).dtypes
df3['Date'] = df3['Date'].str.replace("/","-")

In [90]:
df3

           Date                                        Description  Amount
0    09-03-2019  CAVANAUGHS RIVER DECK 09/01 PURCHASE PHILADELP...  -22.00
1    09-03-2019  CAVANAUGHS RIVER DECK 09/01 PURCHASE PHILADELP...   -9.90
2    09-03-2019   CASH APP*JAMES*ADD 09/02 PMNT SENT 8774174551 CA   -5.00
3    09-03-2019         DE-LOT-SH 501 09/03 PURCHASE WILMINGTON DE   -8.00
4    09-03-2019  GREAT LAKES DES:STUDENT LN ID:0000 INDN:JAMES ...  -33.00
..          ...                                                ...     ...
530  03-30-2020  NAVI ED SERV WEB DES:STUDNTLOAN ID:6NUMMGSHF51...  -16.66
531  03-31-2020  DLHcad, LLC. DES:PayrollDD ID:17344 INDN:James...  700.77
532  03-31-2020  LAKEVIEW LN SRV DES:MTG PYMT ID:XXXXX96875 IND... -554.22
533  03-31-2020  NAVIENT DES:PMT SPE ID:XXXXX99112 INDN:1619667... -220.83
534  04-02-2020     EL DIABLO TROLLEY 04/01 PURCHASE WILMINGTON DE  -10.25

[535 rows x 3 columns]

In [91]:
#move the date formate around
#pd.to_datetime(df3['Date']).dt.strftime('%d-%Y-%d')

In [92]:
df3['Date'] = pd.to_datetime(df3['Date'])

In [93]:
df3.dtypes

Date           datetime64[ns]
Description            object
Amount                float64
dtype: object

In [96]:
df2 = df2.rename(columns={"date": "Date"})

In [97]:
df2

,Date,Sleep Score,Total Sleep Score,REM Sleep Score,Deep Sleep Score,Sleep Efficiency Score,Sleep Tranquility Score,Sleep Latency Score,Sleep Timing Score,Total Bedtime,...,Long Periods of Inactivity,Readiness Score,Previous Night Score,Sleep Balance Score,Previous Day Activity Score,Activity Balance Score,Temperature Score,Resting Heart Rate Score,HRV Balance Score,Recovery Index Score
0,2019-09-03,67.0,76.0,25.0,23.0,95.0,61.0,86.0,86.0,28740.0,...,1.0,83.0,61.0,83.0,84.0,79.0,96.0,97.0,NaN,100.0
1,2019-09-03,78.0,87.0,56.0,65.0,98.0,56.0,86.0,90.0,31020.0,...,1.0,82.0,75.0,89.0,86.0,85.0,100.0,90.0,NaN,54.0
2,2019-09-03,72.0,82.0,58.0,50.0,86.0,53.0,75.0,80.0,31740.0,...,0.0,83.0,67.0,86.0,87.0,81.0,100.0,90.0,NaN,89.0
3,2019-09-03,59.0,54.0,41.0,84.0,100.0,75.0,62.0,1.0,21000.0,...,1.0,51.0,49.0,76.0,72.0,73.0,88.0,1.0,NaN,76.0
4,2019-09-03,48.0,46.0,27.0,44.0,95.0,54.0,70.0,1.0,20520.0,...,0.0,54.0,34.0,65.0,89.0,73.0,66.0,17.0,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,2019-12-03,67.0,79.0,50.0,34.0,95.0,45.0,97.0,47.0,29400.0,...,3.0,66.0,56.0,70.0,84.0,91.0,93.0,62.0,81.0,14.0
190,2019-12-03,57.0,71.0,47.0,8.0,93.0,43.0,86.0,27.0,27780.0,...,1.0,71.0,41.0,72.0,78.0,96.0,97.0,63.0,80.0,83.0
191,2019-12-03,57.0,65.0,52.0,67.0,72.0,52.0,56.0,21.0,28740.0,...,3.0,61.0,41.0,45.0,92.0,99.0,100.0,81.0,67.0,18.0
192,2019-12-04,45.0,21.0,7.0,89.0,83.0,63.0,91.0,17.0,12840.0,...,5.0,55.0,22.0,27.0,92.0,97.0,100.0,82.0,75.0,25.0
193,2019-12-04,61.0,61.0,41.0,58.0,98.0,62.0,78.0,25.0,23640.0,...,NaN,60.0,47.0,27.0,73.0,93.0,100.0,95.0,76.0,41.0

In [98]:
df2.dtypes

Date                           datetime64[ns]
Sleep Score                           float64
Total Sleep Score                     float64
REM Sleep Score                       float64
Deep Sleep Score                      float64
Sleep Efficiency Score                float64
Sleep Tranquility Score               float64
Sleep Latency Score                   float64
Sleep Timing Score                    float64
Total Bedtime                         float64
Total Sleep Time                      float64
Awake Time                            float64
REM Sleep Time                        float64
Light Sleep Time                      float64
Deep Sleep Time                       float64
Restless Sleep                        float64
Sleep Efficiency                      float64
Sleep Latency                         float64
Sleep Timing                          float64
Sleep Timing.1                        float64
Bedtime Start                          object
Bedtime End                            object
Average Resting Heart Rate            float64
Lowest Resting Heart Rate             float64
Average HRV                           float64
Temperature Deviation                 float64
Respiratory Rate                      float64
Activity Score                        float64
Stay Active Score                     float64
Move Every Hour Score                 float64
Meet Daily Targets Score              float64
Training Frequency Score              float64
Training Volume Score                 float64
Recovery Time Score                   float64
Activity Burn                         float64
Total Burn                            float64
Target Calories                       float64
Steps                                 float64
Daily Movement                        float64
Inactive Time                         float64
Rest Time                             float64
Low Activity Time                     float64
Medium Activity Time                  float64
High Activity Time                    float64
Non-wear Time                         float64
Average MET                           float64
Long Periods of Inactivity            float64
Readiness Score                       float64
Previous Night Score                  float64
Sleep Balance Score                   float64
Previous Day Activity Score           float64
Activity Balance Score                float64
Temperature Score                     float64
Resting Heart Rate Score              float64
HRV Balance Score                     float64
Recovery Index Score                  float64
dtype: object

In [99]:
# Create the new DataFrame here.
new_df = pd.read_csv('/Users/jthompson/dev/airflow_home/data/oura_2019-09-17_2020-04-01_trends.csv',
            #index_col=[''],
            usecols=['date','Sleep Score', 'Resting Heart Rate Score','HRV Balance Score'])

In [100]:
new_df.dtypes

date                         object
Sleep Score                 float64
Resting Heart Rate Score    float64
HRV Balance Score           float64
dtype: object

In [101]:
new_df = new_df.rename(columns={"date": "Date"})
new_df['Date'] = new_df['Date'].str.replace("/","-")
new_df['Date'] = pd.to_datetime(new_df['Date'])

In [102]:
new_df

          Date  Sleep Score  Resting Heart Rate Score  HRV Balance Score
0   2019-09-17         67.0                      97.0                NaN
1   2019-09-18         78.0                      90.0                NaN
2   2019-09-19         72.0                      90.0                NaN
3   2019-09-20         59.0                       1.0                NaN
4   2019-09-21         48.0                      17.0                NaN
..         ...          ...                       ...                ...
189 2020-03-27         67.0                      62.0               81.0
190 2020-03-28         57.0                      63.0               80.0
191 2020-03-29         57.0                      81.0               67.0
192 2020-03-30         45.0                      82.0               75.0
193 2020-03-31         61.0                      95.0               76.0

[194 rows x 4 columns]

In [103]:
df3

          Date                                        Description  Amount
0   2019-09-03  CAVANAUGHS RIVER DECK 09/01 PURCHASE PHILADELP...  -22.00
1   2019-09-03  CAVANAUGHS RIVER DECK 09/01 PURCHASE PHILADELP...   -9.90
2   2019-09-03   CASH APP*JAMES*ADD 09/02 PMNT SENT 8774174551 CA   -5.00
3   2019-09-03         DE-LOT-SH 501 09/03 PURCHASE WILMINGTON DE   -8.00
4   2019-09-03  GREAT LAKES DES:STUDENT LN ID:0000 INDN:JAMES ...  -33.00
..         ...                                                ...     ...
530 2020-03-30  NAVI ED SERV WEB DES:STUDNTLOAN ID:6NUMMGSHF51...  -16.66
531 2020-03-31  DLHcad, LLC. DES:PayrollDD ID:17344 INDN:James...  700.77
532 2020-03-31  LAKEVIEW LN SRV DES:MTG PYMT ID:XXXXX96875 IND... -554.22
533 2020-03-31  NAVIENT DES:PMT SPE ID:XXXXX99112 INDN:1619667... -220.83
534 2020-04-02     EL DIABLO TROLLEY 04/01 PURCHASE WILMINGTON DE  -10.25

[535 rows x 3 columns]

In [108]:
D_D = df2.set_index('Date').join(df3.set_index('Date'))

In [105]:
D_D.columns

Index(['Sleep Score', 'Total Sleep Score', 'REM Sleep Score',
       'Deep Sleep Score', 'Sleep Efficiency Score', 'Sleep Tranquility Score',
       'Sleep Latency Score', 'Sleep Timing Score', 'Total Bedtime',
       'Total Sleep Time', 'Awake Time', 'REM Sleep Time', 'Light Sleep Time',
       'Deep Sleep Time', 'Restless Sleep', 'Sleep Efficiency',
       'Sleep Latency', 'Sleep Timing', 'Sleep Timing.1', 'Bedtime Start',
       'Bedtime End', 'Average Resting Heart Rate',
       'Lowest Resting Heart Rate', 'Average HRV', 'Temperature Deviation',
       'Respiratory Rate', 'Activity Score', 'Stay Active Score',
       'Move Every Hour Score', 'Meet Daily Targets Score',
       'Training Frequency Score', 'Training Volume Score',
       'Recovery Time Score', 'Activity Burn', 'Total Burn', 'Target Calories',
       'Steps', 'Daily Movement', 'Inactive Time', 'Rest Time',
       'Low Activity Time', 'Medium Activity Time', 'High Activity Time',
       'Non-wear Time', 'Average MET', 'Long Periods of Inactivity',
       'Readiness Score', 'Previous Night Score', 'Sleep Balance Score',
       'Previous Day Activity Score', 'Activity Balance Score',
       'Temperature Score', 'Resting Heart Rate Score', 'HRV Balance Score',
       'Recovery Index Score', 'Description', 'Amount'],
      dtype='object')

In [109]:
D_D

,Sleep Score,Total Sleep Score,REM Sleep Score,Deep Sleep Score,Sleep Efficiency Score,Sleep Tranquility Score,Sleep Latency Score,Sleep Timing Score,Total Bedtime,Total Sleep Time,...,Previous Night Score,Sleep Balance Score,Previous Day Activity Score,Activity Balance Score,Temperature Score,Resting Heart Rate Score,HRV Balance Score,Recovery Index Score,Description,Amount
Date,,,,,,,,,,,,,,,,,,,,,
2019-09-03,67.0,76.0,25.0,23.0,95.0,61.0,86.0,86.0,28740.0,25830.0,...,61.0,83.0,84.0,79.0,96.0,97.0,NaN,100.0,CAVANAUGHS RIVER DECK 09/01 PURCHASE PHILADELP...,-22.00
2019-09-03,67.0,76.0,25.0,23.0,95.0,61.0,86.0,86.0,28740.0,25830.0,...,61.0,83.0,84.0,79.0,96.0,97.0,NaN,100.0,CAVANAUGHS RIVER DECK 09/01 PURCHASE PHILADELP...,-9.90
2019-09-03,67.0,76.0,25.0,23.0,95.0,61.0,86.0,86.0,28740.0,25830.0,...,61.0,83.0,84.0,79.0,96.0,97.0,NaN,100.0,CASH APP*JAMES*ADD 09/02 PMNT SENT 8774174551 CA,-5.00
2019-09-03,67.0,76.0,25.0,23.0,95.0,61.0,86.0,86.0,28740.0,25830.0,...,61.0,83.0,84.0,79.0,96.0,97.0,NaN,100.0,DE-LOT-SH 501 09/03 PURCHASE WILMINGTON DE,-8.00
2019-09-03,67.0,76.0,25.0,23.0,95.0,61.0,86.0,86.0,28740.0,25830.0,...,61.0,83.0,84.0,79.0,96.0,97.0,NaN,100.0,GREAT LAKES DES:STUDENT LN ID:0000 INDN:JAMES ...,-33.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-04,45.0,21.0,7.0,89.0,83.0,63.0,91.0,17.0,12840.0,10830.0,...,22.0,27.0,92.0,97.0,100.0,82.0,75.0,25.0,NAVI ED SERV PP DES:STUDNTLOAN ID:0000 INDN:JA...,-104.67
2019-12-04,61.0,61.0,41.0,58.0,98.0,62.0,78.0,25.0,23640.0,21930.0,...,47.0,27.0,73.0,93.0,100.0,95.0,76.0,41.0,CASH APP*MARGARET A 12/03 PMNT SENT 8774174551 CA,-20.00
2019-12-04,61.0,61.0,41.0,58.0,98.0,62.0,78.0,25.0,23640.0,21930.0,...,47.0,27.0,73.0,93.0,100.0,95.0,76.0,41.0,BKOFAMERICA ATM 12/04 #000008258 WITHDRWL 400 ...,-40.00
2019-12-04,61.0,61.0,41.0,58.0,98.0,62.0,78.0,25.0,23640.0,21930.0,...,47.0,27.0,73.0,93.0,100.0,95.0,76.0,41.0,PAYPAL DES:INST XFER ID:BEDGEAR LLC INDN:JUSTI...,-169.99
2019-12-04,61.0,61.0,41.0,58.0,98.0,62.0,78.0,25.0,23640.0,21930.0,...,47.0,27.0,73.0,93.0,100.0,95.0,76.0,41.0,NAVI ED SERV PP DES:STUDNTLOAN ID:0000 INDN:JA...,-104.67

In [106]:
#D_D2 = new_df.join(df3.set_index('Date'), on='')

In [ ]:
I need to search through descriptions for a date like str = 'XX/XX'
and set that as the new 'Date' index to pair with sleep data.

In [ ]:
Oura time: 2020-04-04T10:08:06-04:00

In [ ]:
SQL time: 2020-04-04 10:08:06
                
Timezone offset from UTC as minutes. For example, EEST (Eastern European Summer Time, +3h) is 180. 
PST (Pacific Standard Time, -8h) is -480. Note that timezone information is also available in the 
datetime values themselves, see for example.bedtime_start

#Think i can ignore the -4. And just alter to look like above without any edits

INSERT INTO bedtime_end_delt
VALUES('2008-01-01 00:00:01')